@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

#hero{
    background-image: url("/assets/pngtree-geometric-abstract-background-with-blogs-picture-image_1166618.jpg");
    color: rgb(255, 255, 255);
    font-size: 64px;
    border-bottom: 2px solid white;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.61);
}
.bc{
    color: white;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    background-color: rgb(99, 99, 99);
    margin: 30px;
    border-radius: 30px;
    padding: 10px;
    transition: all 1s ease;
    box-shadow: 0px 0px 40px rgb(87, 87, 87);
}
#blogs img, .details{
    /* border: 2px solid red; */
}

#blogs img{
    width: 35%;
}

.details{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}
.details h1{
    font-size: clamp(24px, 5vh, 90px);
}
.details button{
    width: 20%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

