#hero{
    height: 50vh;
    text-align: center;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

#navbar{
    box-shadow: none;
}
#navbar:hover{
    box-shadow: none;
}

.next {
    height: 50px;
    
    background-color: #ff0000;
    color: white;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 2px;
}

#mainpro .singleproimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-right: 40px;
    width: 40%;
}
.smallgroup {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
    /* border: 3px solid red; */
    gap: 10px;
    padding:10px;

}

.smallgroup img {
    width: 10vh;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid red; */
}


.p1,.p2{
    transition: all 2s ease;
}
.p1{
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.466);
    border-radius: 20px;
}
.p2{
    width:60%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(43, 43, 43, 0.993);
}
#mainpro{
    display: flex;
     flex-direction: row;
    justify-content: space-between;
    color:white; 
    background-color: black;
   
}

.p2 h1 {
    font-size: clamp(24px, 20vh, 120px);
    font-family: "Playfair Display", serif;
}
.p2 h2{
    font-size: clamp(24px, 5vh, 90px);
    font-family: "", serif;
}

.p2 p{
    font-size: 24px;
}
.selection{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.u {
    width: 120px;
    border-radius: 10px ;
    padding: 5px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.selection {
    display: flex;
    gap: 15px;
    /* align-items: center; */
    justify-content: flex-start;
    margin: 10px;
}

.p1:hover{
    background-color: rgba(83, 83, 83, 0.466);
    /* box-shadow: 0 0px 60px rgb(146, 98, 98); */
}

.add{
    background-color: #ff0000;
    font-size: clamp(20px, 2vh, 38px);
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 6.5px;
    transition: all .3s ease-in-out;

}

.add:hover{
   box-shadow: 0px 0px 20px rgb(255, 0, 0) ;
   transform: scale(1.1);
   
}